.button {
    background-color: #303030;
    color: white;
    border: none;
    padding: 0.9rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.25s ease, transform 0.15s ease;
}

.button:hover {
    background-color: #000;
    transform: translateY(-2px);
}
